<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ livro?.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="livro" style="text-align: center;">
    <img [src]="livro.capa" style="max-width: 150px; margin-bottom: 15px;" />
    <h1>{{ livro.titulo }}</h1>
    <h3 style="color: gray; margin-top: 0;">{{ livro.autor }}</h3>
    
    <div style="text-align: justify; margin-top: 20px;">
      <p><strong>Sinopse:</strong> {{ livro.sinopse }}</p>
      <p><strong>Opinião:</strong> {{ livro.opiniao }}</p>
      <p style="font-style: italic;">"{{ livro.citacao }}"</p>
      <p style="text-align: center; font-size: 1.2em;"><strong>Avaliação:</strong> {{ livro.classificacao }} / 5 ⭐</p>
    </div>
  </div>
</ion-content>