<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Sobre o Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div style="text-align: center; margin-top: 20px;">
    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" style="border-radius: 50%; width: 120px;" />
    <h2>O Seu Nome</h2>
    <p><strong>Naturalidade:</strong> Viana do Castelo</p>
    <p style="text-align: justify; margin-top: 20px;">Sou estudante de IHM e criei esta app para organizar as minhas leituras.</p>
  </div>
</ion-content>